Antras_PD_PI24SN_provider/src/main/resources/data/managers.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="managers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="manager" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:int" name="id"/>
                            <xs:element type="xs:integer" name="accountNumber"/>
                            <xs:element type="xs:string" name="username"/>
                            <xs:element type="xs:string" name="password"/>
                            <xs:element name="soldDrones">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="drone" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="droneName"/>
                                                    <xs:element type="xs:short" name="batteryCapacity"/>
                                                    <xs:element type="xs:double" name="price"/>
                                                    <xs:element type="xs:string" name="droneNew"/>
                                                    <xs:element type="xs:string" name="framsShape"/>
                                                    <xs:element type="xs:string" name="isAutonomus"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>