Antras_PD_PI24SN_provider/src/main/resources/schemas/Managers.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://spring.io/guides/gs-producing-web-service"
           targetNamespace="https://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="registerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="registerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getFromXmlByNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="droneName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getFromXmlByNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="done" type="tns:droneSOAP"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="sellDroneRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="droneName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="sellDroneResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="drone" type="tns:droneSOAP"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="moveDronesFromXmlToDbRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="moveDronesFromXmlToDbResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="drones" type="tns:droneSOAP" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createDroneInDbRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="droneName" type="xs:string"/>
                <xs:element name="batteryCapacity" type="xs:integer"/>
                <xs:element name="price" type="xs:double"/>
                <xs:element name="droneNew" type="xs:boolean"/>
                <xs:element name="frameShape">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:length value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="autonomous" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createDroneInDbResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="drone" type="tns:droneSOAP"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateDroneInDbRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="droneName" type="xs:string"/>
                <xs:element name="newName" type="xs:string"/>
                <xs:element name="price" type="xs:double"/>
                <xs:element name="batteryCapacity" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateDroneInDbResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="drone" type="tns:droneSOAP"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteDroneFromDbRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="droneName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteDroneFromDbResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="drone" type="tns:droneSOAP"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getManagersRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="getManagersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="manager" type="tns:managerSOAP" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPdfFileRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPdfFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="managerSOAP">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="accountNumber" type="xs:integer"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="drone" type="tns:droneSOAP" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="droneSOAP">
        <xs:sequence>
            <xs:element name="droneName" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element name="batteryCapacity" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>